/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	margin:0 3%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	margin:0 3%;
}
h1{
	font-size:100px;
}

nav{
	display:inline-block;
	font-size:2em;
	width:75%;
	vertical-align: top;
	margin-top: 3%;
	

}


nav a{
	color:grey;
	text-decoration-line:none;
	
	padding-right:5%;
	
}
 .logo {
	display:inline-block;
    width:20%;
	padding-top:2%;
	margin-left: 3%;
	 
}
header{
	
	border-bottom:solid black 1px;
}
.header-div{
	display:inline-block;
	width:50%;
	margin-top:15%;
	vertical-align: top;
}
header h1{

	font-size:7rem;
	width:50%;

	line-height: 1.1;
	text-align:center;
	margin:0 auto;
	
}

header button{
	display:inline-block;
	width:33%;

	margin:5%0 30% 35%;
	background-color:transparent;
	border:solid black 1px;
	padding:1% 5%;
	font-size:1.5rem;
}
.header-img{
width:40%;
margin-top:10%;
margin-left:3%;
}
div {
	display:inline-block;
}
div h3{
	font-size:2.1rem;
	padding-bottom:5%;
	
}
div p{
	font-size:1.4rem;
}
.features{
	width:49%;
	display:inline-block;
	margin:3% 1% 0 0 ;
	
}

.about{
	width:49%;

	
}

.middle-img{
	margin:4% 0;
	width:100%;
}
.services{
	margin-right:2%;
	margin-bottom: 3%;
	
    width:32%;

}
.services h3{
	
}
.product{
	width:32%;
	margin-right:2%;
	
}
.vision{
	
	width:32%;
}
section {
	border-bottom:solid black 1px;

}
address{
	margin:2% 0 0 0;
	font-size:1.4rem;
	
}
.copyright{
	
	margin: 3% 42% 10% 42%;
	font-size:1.4rem;
}
.contact{
	width:15%;
	margin-top:3%;
}
.phone{
	padding:10% 0; 
	display:inline-block;
}
